<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agreement</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/step1.js"></script>

    <script>
        $(document).ready(function () {
            $('input[type="checkbox"]').click(function () {
                if ($(this).prop("checked") == true) {
                    $("#result").toggleClass("disabled");
                    $("form").attr("action", "/otp");
                } else if ($(this).prop("checked") == false) {
                    $("#result").toggleClass("disabled");
                }
            });
        });
    </script>
</head>

<body>
    <div class="center">
        <img src="https://s3.ap-south-1.amazonaws.com/venuefy.images/venuefy-logo.png" alt="Venuefy" />
    </div>

    <hr class="style" />

    <div class="container companyDetail ml-auto mr-auto">
        <div class="p-4">
            <p>
                <spam style="color: red;">*</spam> Required
            </p>
            <div class="form-group">
                <label for="inputTypeOfVenue" class="required">Type of Service Provider</label>
                <select class="form-control" id="inputTypeOfVenue" name="cTypeOfVenue">
                    <option value="" disabled selected hidden>Photographer, Decorator, Caterers, Mehendi, etc.</option>
                    <option>Anchor/Host</option>
                    <option>Balloons Service</option>
                    <option>Band/Baja/Ghodawalla</option>
                    <option>Bride/Groom Designer</option>
                    <option>Caterers</option>
                    <option>Choreographer</option>
                    <option>Clothers Rental Service</option>
                    <option>Corporate Event Equipments Service</option>
                    <option>DJ's</option>
                    <option>Decorators</option>
                    <option>Event Entertainers</option>
                    <option>Event Fragrance Service</option>
                    <option>Event Management Comapany</option>
                    <option>Firework Service</option>
                    <option>Florist</option>
                    <option>Gifting Service</option>
                    <option>Honeymoon Package Provider</option>
                    <option>Invitation Card Designer</option>
                    <option>Jewellery Designer</option>
                    <option>Makeup Artist</option>
                    <option>Mehendi Artist</option>
                    <option>Photographer</option>
                    <option>Priest</option>
                    <option>Security Service</option>
                    <option>Special Category</option>
                    <option>Transport Service</option>
                </select>
                <!-- <input type="text" class="form-control" id="inputTypeOfVenue" name="cTypeOfVenue"
                    placeholder="Photographer, Decorator, Caterers, Mehendi, etc." /> -->
            </div>

            <div class="form-group">
                <label for="inputOwnerName" class="required">Name</label>
                <input type="text" class="form-control" id="inputOwnerName" name="cOwnerName" placeholder="Full Name" />
            </div>

            <div class="form-group mt-4">
                <label for="companyName" class="required">Name of the company</label>
                <input required type="text" class="form-control" id="composedName" name="cName"
                    placeholder="Company Name" required />
            </div>
            <div class="form-group">
                <label for="inputAddress" class="required">Address</label>
                <input type="text" class="form-control" id="inputAddress" name="cAddress" placeholder="1234 Main St" />
            </div>
            <div class="form-group">
                <label for="inputEmail" class="required">Email</label>
                <input type="email" class="form-control" id="inputEmail" name="cEmail" placeholder="abc123@xyz.com" />
            </div>
            <div class="form-group">
                <label for="contactNumber" class="required">Contact Number</label>
                <input type="tel" class="form-control" id="contactNumber" name="cContactNumber"
                    placeholder="10 Digit mobile Number" />
            </div>
            <div class="form-group">
                <label for="whatsappNumber" class="required">Whatsapp Number</label>
                <input type="tel" class="form-control" id="whatsappNumber" name="cWhatsappNumber"
                    placeholder="Whatsapp Number" />
            </div>

            <!-- Aaadhar card -->
            <!-- <div class="form-group mt-5">
                <label for="aadhaarFront" class="required">Aadhaar Front</label>
                <input type="file" accept="image/*" class="form-control-file mb-1" name="cAadhaarFront"
                    id="aadhaarFront" />
            </div>
            <div class="form-group">
                <label for="aadhaarBack" class="required">Aadhaar Back</label>
                <input type="file" accept="image/*" class="form-control-file" name="cAadharBack" id="aadhaarBack" />
            </div> -->
            <!-- PAN card -->
            <div class="form-group mt-5">
                <label for="panNumber" class="required">PAN</label>
                <input type="text" class="form-control" id="panNumber" name="cPAN" placeholder="10 Digit Number" />
            </div>
            <div class="form-group">
                <label for="panFront" class="required">PAN Front</label>
                <input type="file" accept="image/*" class="form-control-file mb-1" name="cPANFront" id="panFront" />
            </div>
            <!-- GST Certificates -->
            <div class="form-group mt-5">
                <label for="gstNumber">GSTIN</label>
                <input type="text" class="form-control" id="gstNumber" name="cGST" placeholder="15 Digit Number" />
            </div>
            <!-- <div class="form-group">
                <label for="gstCertificate">GST Certificate</label>
                <input type="file" accept="image/*" class="form-control-file" name="cGSTCertificate"
                    id="gstCertificate" />
            </div> -->

            <!-- Bank Details -->
            <div class="form-group">
                <label for="accountNumber" class="required">Bank Account Number</label>
                <input type="text" class="form-control" id="accountNumber" name="caccountNumber"
                    placeholder="Bank Account Number" />
            </div>
            <div class="form-group">
                <label for="IFSCCode" class="required">IFSC Code</label>
                <input type="text" class="form-control" id="IFSCCode" name="cIFSCCode" placeholder="IFSC Code" />
            </div>
            <div class="form-group">
                <label for="accountHolderName" class="required">Account Holder Name</label>
                <input type="text" class="form-control" id="accountHolderName" name="caccountHolderName"
                    placeholder="Account Holder Name" />
            </div>

            <!-- Cancelled cheque -->
            <div class="form-group mt-5">
                <label for="cheque">Cancelled Cheque</label>
                <input type="file" accept="image/*" class="form-control-file mb-1" name="cCheque" id="cheque" />
            </div>
            <!-- signature -->
            <div class="form-group mt-5">
                <label for="signature" class="required">Signature</label>
                <input type="file" accept="image/*" class="form-control-file mb-1" name="cSignature" id="signature" />
            </div>
            <div>
                <p>Signature Example:</p>
                <img class="sign" src="/signature.jpg" alt="Signature Example">
            </div>
            <!-- photo -->
            <!-- <div class="form-group mt-5">
                <label for="photo">Photo</label>
                <input type="file" accept="image/*" class="form-control-file mb-1" name="cPhoto" id="photo" />
            </div> -->

            <div class="container mt-4">
                <p class="check display-4">

                    <input type="checkbox" /> The Details filled in this form are true and to the best of my knowledge
                </p>
                <div class="center">
                    <!-- <button type="submit" onclick="sub()" id="result" class="btn btn-primary disabled">
                        Check to Proceed
                    </button> -->
                    <button onclick="sub()" id="result" class="btn btn-primary disabled">Check to Proceed</button>
                    <div class="loader"></div>
                </div>
            </div>

            <div>
            </div>

</body>

</html>