<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agreement</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
</head>

<body>
    <!-- <div class="center">
        <img src="https://s3.ap-south-1.amazonaws.com/venuefy.images/venuefy-logo.png" alt="Venuefy">
    </div>

    <hr class="style" /> -->

    <div class="jumbotron center vcenter">
        <img src="https://s3.ap-south-1.amazonaws.com/venuefy.images/venuefy-logo.png" alt="Venuefy">
        <h1 class="display-1">Thank You</h1>
        <small>for more information contact at venuefy@gmail.com</small>
    </div>


</body>


</html>