html,
body {
  background-color: #201f24;
  color: #d1c2af;
  height: 100%;
}

/* Index.ejs */

.center {
  text-align: center;
  /* margin: 15px auto 5px auto; */
  margin: auto;
}

hr.style {
  overflow: visible;
  /* For IE */
  padding: 0;
  border: none;
  border-top: medium double #d1c2af;
  color: #d1c2af;
  text-align: center;
}

hr.style:after {
  content: "AGREEMENT";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 2em;
  padding: 0 0.25em;
  /* background: white; */
}

.terms {
  margin-top: 50px;
  border: 1px solid #d1c2af;
  font-size: 1.2em;
  height: 60%;
  overflow: auto;
  /* scroll-behavior: smooth; */
}

.btn.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.check {
  font-size: 1em;
  font-weight: 500;
}

/* Required Fields */
.form-group .required:after {
  content: "*";
  color: red;
}

#otpFrom {
  display: none;
}

#otp {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* step1.ejs */
.companyDetail {
  margin-top: 50px;
  border: 1px solid #d1c2af;
  box-shadow: 0 4px 8px 0 rgba(217, 185, 144, 0.3), 0 6px 20px 0 rgba(243, 210, 170, 0.29);
  border-radius: 25px;
  max-width: 85%;
}

/* thanks */
.vcenter {
  margin-top: 10%;
  align-items: center;
}

.sign {
  object-fit: contain;
  max-height: 30%;
  max-width: 30%;
}

/* .textdeco {
  text-shadow: 2px 1px 1px black;
} */

.loader {
  visibility: hidden;
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.otp-form {
  visibility: hidden;
}